body {
    background-color:#CCF6FF;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    color: #202023;
    font-family: "Lucida Console", sans-serif;
  }
  
  h2, h3 {
    color: white;
    font-family: "Lucida Console", sans-serif;
  }
  
  h4, h5 {
    color: #202023;
    font-family: georgia, serif;
  }
  
  p {
    color: #202023;
    font-family: georgia, serif;
    line-height: 2;
  }
  
  a {
    color: #53A4FB;
    font-family: georgia, serif;
  }
  
  a:hover {
    color:#5D72DF;
  }
  
  .sitebox {
    display: grid;
  }

  .noline {
    text-decoration: none;
  }
  
  .windowbox {
    height: max-content;
    background-color: white;
    border: 3px solid #53A4FB;
    border-radius: 3px;
  }

  .textbox {
    display: grid;
  }
  
  .topbar {
    color: white;
    background-color:#53A4FB;
    border: 3px solid #53A4FB;
    padding: 0px 15px 1.75vw;
    margin: 0px;
  }
  
  .url {
    color: white;
    font-family: "Lucida Console", sans-serif;
  }
  
  .textbox {
    margin: 30px;
  }
  
  .navbar {
    background-color:#53A4FB;
    position: fixed;
  }
  
  .navlinks a {
    color:white;
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    text-decoration: none;
  }

  .portfolioicon a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .basicbutton {
    background-color: #53A4FB;
    color: white;
    padding: 10px 15px;
    font-family: "Arial Black", sans-serif;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .basicbutton:hover {
    background-color: #6db4ff;
  }

  .backbutton {
    margin: 0 auto 30px;
    background-color: #53A4FB;
    color: white;
    padding: 10px 15px;
    font-family: "Arial Black", sans-serif;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .backbutton:hover {
    background-color: #6db4ff;
    color: white;
  }

  .portfoliobox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .fullbox .textbox .fullimg {
    width: 100%;
    object-fit: contain;
  }

  .textbox .largeimg {
    width: 80%;
    object-fit: contain;
    margin: 10px auto;
    max-height: 65vh;
  }

  .imgbox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .doubleimgbox {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    column-gap: 20px;
  }

  .doubleimgbox img {
    max-height: 60vh;
    max-width: 45%;
    margin: 10px 0px;
    object-fit: contain;
  }

  .portfoliodesc p {
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
  }

  label {
    display: block;
    color: #202023;
    font-family: georgia, serif;
    padding: 0;
    margin: 0;
  }

  iframe {
    width: 100%;
    align-self: center;
  }
  
  /* computer users hell yeah !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  
  @media screen and (min-width: 800px){
    .sitebox {
      grid-template-columns: 18% 9% 31% 4% 31% 6%;
      grid-template-rows: 7vw 10vw 4.75vw; 
    }

    .backbutton {
      font-size: 1vw;
    }

    p {
      font-size: 1.05vw;
    }

    .portfoliobox {
      grid-row-start: 2;
      grid-column-start: 3;
      grid-column-end: 6; 
      row-gap: 35px;
      height: max-content;
    }

    .portfoliobox::after {
      content: "";
      flex-basis: 250px;
      height: 250px;
      margin-bottom: 7vw;
    }
  
    .navbar {
      grid-column-start: 1;
      grid-column-end: 2;
      height: 100vh;
    }
  
    .windowbox {
      grid-row-start: 2;
    }
  
    .topbar {
      height: 1.6vw;
    }
  
    .halfbox1 {
      grid-column-start: 3;
      grid-column-end: 4;
      display: grid;
    }
    
    .halfbox2 {
      grid-column-start: 5;
      grid-column-end: 6;
      display: grid;
    }

    .fullbox {
      grid-column-start: 3;
      grid-column-end: 6;
      display: grid;
    }
  
    .icon {
      width: 20vw;
    }

    .iconsimg {
      height: 3vw;
    }
    
    .navlinks {
      padding: 0px 2.5vw;
      grid-row-start: 3;
    }
  
    .navlinks ul {
      line-height: 3.5vw;
    }
  
    .navlinks li {
      font-size: 2vw;
    }
  
    .url {
      font-size: 1.3vw;
    }

    .portfolioicon {
      width: 250px;  
      height: 250px; 
    }

    .portfolioicon:hover {
      cursor: pointer;
    }

    .grow { 
      transition: all .2s ease-in-out; 
    }
      
    .grow:hover { 
      transform: scale(1.05); 
    }

    .portfoliotopbar {
      height: 28px;
      font-size: 14px;
      padding: 0px 6px 11px;
    }

    .portfoliotopbarimg {
      height: 25px;
      margin-top: 4px;
    }

    .portfolioimg {
      height: 250px;
      width: 250px;
    }

    .imgbox {
      height: 206px;
      width: 250px;
    }

    #contactclick {
      width: 20vw;
      margin: 30px auto;
    }

    #message {
      list-style-type: none;
      margin: 0 0 30px 0;
      padding: 0;
      line-height: 2.5vw;
    }
  
    #emailform label {
      font-size: 1.05vw;
    }
  
    #emailform input, #emailform textarea{
      width: 26.5vw;
      box-sizing: border-box;
      padding: 7px 5px;
      border-radius: 5px;
      border-width: 1px;
    }
  
    #emailform textarea {
      vertical-align: text-top;
      height: 7em;
    }

    #sendemailbutton {
      margin: auto;
    }
  
  }
  
  /* mobile users yikes :(((((((((((( frown */
  
  @media screen and (max-width: 800px){
    .sitebox {
      grid-template-columns: 5% 90% 5%;
      grid-template-rows: 10vw 7vw 90vw; 
    }

    .portfoliobox {
      grid-row-start: 3;
      grid-column-start: 2;
      grid-column-end: 3; 
      margin-bottom: 7vw;
    }

    .portfoliobox::after {
      content: "";
      flex-basis: 180px;
    }
  
    .navbar {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      height: 45px;
      width: 100vw;
    }
  
    .icon {
      width: 0px;
      display: none;
    }
  
    .windowbox {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
    }
  
    .topbar {
      height: 5vw;
    }
  
    .iconsimg {
      height: 6vw;
    }
  
    .navlinks ul {
      width:fit-content;
      margin:auto;
    }
  
    .navlinks li {
      display: inline-block;
      font-size: 20px;
      padding: 5px 5px;
    }
  
    .url {
      font-size: 2.5vw;
    }

    .portfolioicon {
      width: 180px;  
      height: 180px; 
      margin-bottom: 30px;
    }

    .portfolioimg {
      height: 180px;
      width: 180px;
    }

    .imgbox {
      height: 145px;
      width: 180px;
    }

    .portfoliotopbar {
      height: 20px;
      font-size: 10.5px;
      padding: 0px 4px 10px;
    }

    .portfoliotopbarimg {
      height: 20px;
      margin-top: 3px;
    }

    #clickmessagebox {
      display: none;
    }

    #message {
      list-style-type: none;
      margin: 0 0 30px 0;
      padding: 0;
      line-height: 2.5vw;
    }
  
    #emailform label {
      font-size: 3vw;
      margin-bottom: 8px;
    }
  
    #emailform input, #emailform textarea{
      width: 73vw;
      box-sizing: border-box;
      padding: 7px 5px;
      border-radius: 5px;
      border-width: 1px;
    }
  
    #emailform textarea {
      vertical-align: text-top;
      height: 7em;
    }

    #sendemailbutton {
      margin: auto;
    }

    #emailform li {
      margin-bottom: 25px;
    }
  
  }